.carousel-container {
    height: 1000px;
  }
  
  .carousel {
    height: 100%;
  }
  
  .flickity-viewport {
    height: 100% !important;
  }
  
  .carousel-cell img {
    height: 100%;
    width: auto;
    object-fit: cover;
  }
  